[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
hydra-core = "==1.1.1"
omegaconf = "==2.1.1"
pytorch-lightning = "==1.5.7"
scikit-learn = "*"
opencv-python = "*"
pandas = "*"
albumentations = "*"
torchvision = "*"
torchmetrics = "*"

[dev-packages]
black = "*"
pre-commit = "*"

[requires]
python_version = "3.8"
